<section class="py-16 bg-white">
  <h2 class="text-3xl font-bold text-gray-800 text-center">About Me</h2>
  <p class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto text-center">
      I'm a passionate junior software engineer and IT graduate with a Bachelor's degree in Information Technology, specializing in 
      Information Systems Security. I have hands-on experience in web development, system design, and cybersecurity, including projects involving penetration testing and database management. 
      With a solid foundation in programming languages like Python, Java, C, PHP, and JavaScript, 
      as well as expertise in web technologies such as HTML, CSS, Laravel, and WordPress, I am currently diving into Angular. 
      I enjoy tackling challenges and driving innovation in web application development. I am eager to bring 
      my skills and experience into a dynamic tech environment and continue to grow as a developer.
  </p>
</section>
